{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Stride Sync{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'playlist/styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta name="csrf-token" content="{{ csrf_token }}">
        {% if user.is_authenticated %}
            <script type="text/javascript">var logged_in=true;</script>
            <meta name="username" content="{{ user.username }}">
        {% else %}
            <script type="text/javascript">var logged_in=false;</script>
            <meta name="username" content="NONE">
        {% endif %}
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}" style="font-weight: bold;">Stride Sync</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recommendations' user.username %}">Recommendations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'playlists' %}">Public Playlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'playlists' %}">Playlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>