{% extends "playlist/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'playlist/recommendations.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>{{ user.username.capitalize }}'s Recommendations</h1>

    <h3>{{ message }}</h3>

    <form id="recommendations-form" style="display: flex; flex-direction: column; gap: 10px; max-width: 500px; width: 90%; margin-bottom: 20px; margin-left: 10px;">
        {{ song_form }}
        <button type="submit" id="get-recommendations">Get Recommendations</button>
    </form>

    <div id="recommendations-results"></div>

    <div id="pagination" style="margin-top: 20px; display: flex; justify-content: center; gap: 10px;"></div>
{% endblock %}