{% extends "playlist/layout.html" %}

{% block body %}
    <h1>{{ user.username.capitalize }}'s Recommendations</h1>

    <form method="get" action="{% url 'recommendations' user.username %}">
        {{ song_form }}
        <button type="submit">Get Recommendations</button>
    </form>
    {% if recommended_songs %}
        <ul>
            {% for song in recommended_songs %}
                <li>{{ song }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations available.</p>
    {% endif %}
{% endblock %}